.blog2 {
    &-card {
        display: flex;
        border-radius: 20px;
        background: var(--Background, #F9F9F9);
        &:not(:last-child) {
            margin-bottom: 24px;
        }

        &__thumb {
            border-radius: 20px 0px 0px 20px;
            overflow: hidden;
            flex: none;
            img {
                border-radius: 20px 0px 0px 20px;
                width: 100%;
            }
        }
        &-content {
            padding: 36px;
            &-meta {
                display: flex;
                gap: 12px;
                padding-bottom: 7px;

                &__date {
                    color: var(--Black, #262626);
                    font-family: "Plus Jakarta Sans";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                }
                &__dot {
                    width: 4px;
                    height: 4px;
                }
                &__category {
                    color: var(--Black, #262626);
                    font-family: "Plus Jakarta Sans";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
            &__title{
                padding-bottom: 75px;
            }
            &__link {
                a {
                    color: var(--color, #F3604C);
                    font-family: Oswald;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px; 
                    letter-spacing: -0.32px;
                    text-transform: uppercase;
                    border-bottom: 2px solid var(--color, #F3604C);
                }
                
            }
        }
    }
}