  .pricing1 {
    &-item {
        position: relative;
        &-card {
            position: relative;
            display: flex;
            align-items: center;
            gap: 78px;
            border-radius: 20px;
            background: var(--White, #FEFEFE);
            padding: 45px 60px;
            
            &-price {
                &__value {
                    color: var(--Black, #262626);
                    text-align: right;
                    font-family: Oswald;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 66px; 
                    letter-spacing: -1.2px;
                    text-transform: uppercase;
                }
                &__unit {
                    color: var(--Black, #262626);
                    font-family: "Plus Jakarta Sans";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
            &-content {
               flex: 1;
               padding-right: 225px;
                &__title {
                    color: $theme-color;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }
            }
        }
        &__thumb {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 13%;
            right: 23%;
        }
        &:hover {
            &__thumb {
                opacity: 1;
                visibility: visible;
                z-index: 10;
            }
        }
    }
  }