.seller-section {
    .seller-thumb-one {
        padding-bottom: 16px;
    }
    .seller-thumb-gallery {
        display: flex;
        gap: 16px;
    }
    .seller-content {
        .best-seller {
            border-radius: 5px;
            background: #ED4444;
            display: inline-block;
            padding: 5px 12px;
            h6 {
                color: #FFF;
                font-family: Outfit;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.3px;
                margin-bottom: 0;
            }
        }
        .ratting {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .seller-title {
            padding-top: 10px;
            padding-bottom: 15px;
            h2 {
                color: #141B4D;
                font-family: Outfit;
                font-size: 60px;
                font-style: normal;
                font-weight: 500;
                line-height: 106.176%; /* 63.706px */
                letter-spacing: -3px;
            }
        }
        .seller-profile-box {
            padding: 16px 23px;
            border-radius: 5px;
            background: rgba(242, 242, 246, 0.66);
            .profile {
                display: flex;
                gap: 10px;
                padding-bottom: 10px;
                .profile-content {
                    .title {
                        color: #141B4D;
                        font-family: Outfit;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 21px; /* 150% */
                    }
                    .desc {
                        color: #141B4D;
                        font-family: Outfit;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                        opacity: 0.6;
                    }
                }
            }
            .seller-profile-content {
                h5 {
                    color: #3F446C;
                    font-family: Outfit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px; /* 137.5% */
                }
            }
        }
        .seller-info-list {
            padding-bottom: 50px;
            ul {
                li {
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(219, 219, 219, 219);
                    }
                    span {
                        padding-right: 5px;
                    }
                    color: #141B4D;
                    font-family: Outfit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 38px; /* 237.5% */
                }
            }
        }
        .seller-price-info {
            padding-bottom: 20px;
            .price {
                padding-bottom: 25px;
                color: #000;
                font-family: Outfit;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 106.176%; /* 29.729px */
                letter-spacing: -1.4px;
                text-decoration-line: strikethrough;
                .highLight {
                    padding-left: 10px;
                    color: #CF1010;
                    font-family: Outfit;
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 106.176%; /* 40.347px */
                    letter-spacing: -1.9px;
                }
            }
            .card-info {
                display: flex;
                gap: 26px;
                align-items: center;
                .card-btn {
                    border-radius: 5px;
                    background: #1DB469;
                    padding: 16px 82px;
                    color: #FFF;
                    text-align: center;
                    font-family: Outfit;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 29px; /* 131.818% */
                }
                .plus-minus-btn {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    i {
                        font-size: 14px;
                        padding: 7px 9px;
                        background-color: #e2e3e5;
                        border-radius: 50px;
                        -webkit-border-radius: 50px;
                        -moz-border-radius: 50px;
                        -ms-border-radius: 50px;
                        -o-border-radius: 50px;
                    }
                }
            }
        }
        .payment-card {
            padding-bottom: 20px;
        }
        .time-duration {
            ul {        
                li {
                    padding-bottom: 5px;
                    color: #7D7D7D;
                    font-family: Outfit;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 10px;
                    span {
                      color: #3385FF;
                    }
                    img {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

.area-section {
    .title-wrap {
        .title {
            color: #141B4D;
            text-align: center;
            font-family: Outfit;
            font-size: 60px;
            font-style: normal;
            font-weight: 600;
            line-height: 106.176%; /* 63.706px */
            letter-spacing: -3px;
        }
        .desc {
            color: #141B4D;
            text-align: center;
            font-family: Outfit;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px; /* 120.833% */
            letter-spacing: 0.24px;
        }
    }
    .area-box {
        position: relative;
        .title {
            color: #141B4D;
            font-family: Outfit;
            font-size: 29px;
            font-style: normal;
            font-weight: 500;
            line-height: 29px; /* 100% */
        }
        .desc {
            color: #000;
            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
            opacity: 0.8;
        }
        .area-wrapper {
            position: relative;
            &.style1 {
                display: flex;
                justify-content: center;
                gap: 330px;
                .item-one {
    
                }
                .item-two {
    
                }
            }
            &.style2 {
                display: flex;
                justify-content: center;
                gap: 400px;
                .item-one {
    
                }
                .item-two {
    
                }
            }
        }
        .area-thumb{
            position: absolute;
            bottom: -10%;
            left: 35%;
        }
    }
}

.feature-section {
    background-image: url("../images/feature/feature-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    .feature-content {
        .fea-title {
            color: #FFF;
            font-family: Outfit;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px; /* 100% */
            padding-bottom: 42px;
        }
        .fea-desc {
            max-width: 515px;
            color: #FFF;
            font-family: Outfit;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px; /* 127.778% */
            span {
                color: #1DB469;
            }
        }
        .list-item {
            max-width: 575px;
            display: flex;
            gap: 10px;
            .num {
                width: 50px;
                height: 50px;
                span {
                    background-color: #1DB469;
                    color: #FFF;
                    padding: 0px 17px;
                    border-radius: 50px;
                    font-family: Outfit;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 48px */
                    width: 50px;
                    height: 50px;
                    &.two {
                        padding: 0px 14px;
                    }
                }
            }
            .details {
                color: #FFF;
                font-family: Outfit;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 150% */
                span {
                    color: #1DB469;
                }
            }
        }
    }
    .duration {
        padding-top: 260px;
        padding-left: 100px;
        .percentage {
            padding-bottom: 30px;
            span {
                color: #FFF;
                text-align: right;
                font-family: Outfit;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                background-color: #1DB469;
                padding: 8px 20px ;
                border-radius: 50px;

            }
        }
        .minute {
            padding-left: 84px; 
            span {
                color: #FFF;
                text-align: right;
                font-family: Outfit;
                font-size: 22px;
                padding: 8px 20px ;
                font-style: normal;
                font-weight: 500;
                line-height: 30px; /* 136.364% */
                background-color: #1DB469;
                border-radius: 50px;
            }
        }
    }
}

.slider-section {
    .title-wrap {
        padding-bottom: 40px;
        .title {
            color: #141B4D;
            text-align: center;
            font-family: "Source Serif Pro";
            font-size: 57px;
            font-style: italic;
            font-weight: 600;
            line-height: 122%; /* 69.54px */
            letter-spacing: -2.85px;
            padding-bottom: 28px;
        }
        .desc {
            color: #3F474B;
            text-align: center;
            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px; /* 131.25% */
            opacity: 0.8;
        }
    }
    .slider-area {
        margin-right: -400px;
        position: relative;
        .slider-item {
            .slider-thumb {
                position: relative;
                border-radius: 0px 0px 10px 10px;
                img {
                    width: 100%;
                }
                .slider-content {
                    position: absolute;
                    left: 20px;
                    right: 20px;
                    bottom: 160px;
                    .title {
                        color: #FFF;
                        font-family:  $title-font;
                        font-size: 27.354px;
                        font-style: italic;
                        font-weight: 800;
                        line-height: 110%; /* 30.089px */
                        padding-bottom: 24px;
                    }
                    .name {
                        color: #B6C3E7;
                        font-family:  $title-font;
                        font-size: 21.624px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 110%; /* 23.786px */
                    }
                }
                .play-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .mute {
                    position: absolute;
                    right: 16px;
                    bottom: 95px;
                }
            }
            .max-area {
                display: flex;
                align-items: center;
                position: relative;
                padding: 10px 0 30px 0;
                margin-top: -90px;
                border-radius: 0px 0px 10px 10px;
                background: #FFF;
    
                .max-thumb {
                    position: absolute;
                    bottom: 0;
                    left: 4%;
                }
                .max-content {
                    padding-left: 90px;
                    .title {
                        color: #141B4D;
                        font-family: Outfit;
                        font-size: 19.272px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16.189px; /* 84% */
                        padding-bottom: 10px;
                    }
                    .desc {
                        color: #000;
                        font-family: Outfit;
                        font-size: 12.334px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16.189px; /* 131.25% */
                        opacity: 0.6;
                    }
                }
            }
        }
    }

}