.seller-section {
    .seller-thumb {
        @include breakpoint (max-md) {
            display: none;
        }
        .seller-thumb-one {
            padding-bottom: 16px;
        }
        .seller-thumb-gallery-item {
            display: flex;
            gap: 16px;
        }
        &.style1 {
            display: flex;
            gap: 6px;
            @include breakpoint (md) {
                display: none;
            }
            .seller-thumb-gallery-item {
                flex-direction: column;
                gap: 7px;
            }
        }
    }
    .seller-content {
        max-width: 442px;
        .best-seller {
            border-radius: 5px;
            background: #ED4444;
            display: inline-block;
            padding: 5px 12px;
            h6 {
                color: #FFF;
                font-family: Outfit;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.3px;
                margin-bottom: 0;
            }
        }
        .ratting {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .seller-title {
            padding-top: 5px;
            padding-bottom: 5px;
            h2 {
                color: #141B4D;
                font-family: Outfit;
                font-size: 60px;
                font-style: normal;
                font-weight: 500;
                line-height: 106.176%; /* 63.706px */
                letter-spacing: -3px;
                @include breakpoint (max-md) {
                    font-size: 40px;
                }
            }
        }
        .seller-profile-box {
            padding: 16px 23px;
            border-radius: 5px;
            background: rgba(242, 242, 246, 0.66);
            .profile {
                display: flex;
                gap: 10px;
                padding-bottom: 10px;
                .profile-content {
                    .title {
                        color: #141B4D;
                        font-family: Outfit;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 21px; /* 150% */
                    }
                    .desc {
                        color: #141B4D;
                        font-family: Outfit;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                        opacity: 0.6;
                    }
                }
            }
            .seller-profile-content {
                h5 {
                    color: #3F446C;
                    font-family: Outfit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px; /* 137.5% */
                }
            }
        }
        .seller-info-list {
            padding-top: 10px;
            padding-bottom: 35px;
            ul {
                li {
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(219, 219, 219, 219);
                    }
                    span {
                        padding-right: 5px;
                    }
                    color: #141B4D;
                    font-family: Outfit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 38px; /* 237.5% */
                }
            }
        }
        .seller-price-info {
            padding-bottom: 20px;
            .price {
                padding-bottom: 25px;
                color: #000;
                font-family: Outfit;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 106.176%; /* 29.729px */
                letter-spacing: -1.4px;
                text-decoration-line: strikethrough;
                .highLight {
                    padding-left: 10px;
                    color: #CF1010;
                    font-family: Outfit;
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 106.176%; /* 40.347px */
                    letter-spacing: -1.9px;
                }
            }
            .card-info {
                display: flex;
                gap: 26px;
                align-items: center;
                .card-btn {
                    border-radius: 5px;
                    background: #1DB469;
                    padding: 16px 82px;
                    color: #FFF;
                    text-align: center;
                    font-family: Outfit;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 29px; /* 131.818% */
                    @include breakpoint (max-sm) {
                        padding: 10px 32px;
                        font-size: 18px;
                    }
                }
                .plus-minus-btn {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .num {
                        color: #141B4D;
                        text-align: center;
                        font-family: Outfit;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 106.176%; /* 31.853px */
                        letter-spacing: -1.5px;
                    }
                    i {
                        padding: 8px 9px;
                        background-color: #e2e3e5;
                        border-radius: 50px;
                        -webkit-border-radius: 50px;
                        -moz-border-radius: 50px;
                        -ms-border-radius: 50px;
                        -o-border-radius: 50px;
                    }
                }
            }
        }
        .payment-card {
            padding-bottom: 20px;
        }
        .time-duration {
            ul {        
                li {
                    padding-bottom: 5px;
                    color: #7D7D7D;
                    font-family: Outfit;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 10px;
                    span {
                      color: #3385FF;
                    }
                    img {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

.area-section {
    .title-wrap {
        @include breakpoint (max-lg) {
            padding-bottom: 70px;
        }
        .title {
            color: #141B4D;
            text-align: center;
            font-family: Outfit;
            font-size: 60px;
            font-style: normal;
            font-weight: 600;
            line-height: 106.176%; /* 63.706px */
            letter-spacing: -3px;
            @include breakpoint (max-md) {
                font-size: 40px;
            }
            @include breakpoint (max-xxsmall) {
                font-size: 36px;
            }
        }
        .desc {
            color: #141B4D;
            text-align: center;
            font-family: Outfit;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px; /* 120.833% */
            letter-spacing: 0.24px;
        }
    }
    .area-box {
        position: relative;
        .title {
            color: #141B4D;
            font-family: Outfit;
            font-size: 29px;
            font-style: normal;
            font-weight: 500;
            line-height: 29px; /* 100% */
            @include breakpoint (max-sm) {
                font-size: 18px;
                padding-bottom: 10px;
            }
            img {
                @include breakpoint (max-md) {
                    display: none;
                }
            }
        }
        .desc {
            color: #000;
            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
            opacity: 0.8;
        }
        .area-wrapper {
            position: relative;
            &.style1 {
                display: flex;
                justify-content: center;
                gap: 330px;
                @include breakpoint (max-lg) {
                    gap: 130px;
                }
                @include breakpoint (max-sm) {
                    gap: 90px;
                }
                @include breakpoint (max-xxsmall) {
                    gap: 50px;
                }
            }
            &.style2 {
                display: flex;
                justify-content: center;
                gap: 400px;
                @include breakpoint (max-lg) {
                    gap: 130px;
                }
                @include breakpoint (max-sm) {
                    gap: 90px;
                }
                @include breakpoint (max-xxsmall) {
                    gap: 50px;
                }
            }
        }
        .area-thumb{
            position: absolute;
            bottom: -10%;
            left: 35%;
            @include breakpoint (max-xxl) {
                left: 30%;
            }
            @include breakpoint (max-lg) {
                position: sticky;
                display: flex;
                justify-content: center;
                padding-bottom: 70px;
            }
        }
    }
}

.feature-section {
    background-image: url("../images/feature/feature-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    .feature-content {
        .title-wrap {
            .fea-title {
                color: #FFF;
                font-family: Outfit;
                font-size: 60px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px; /* 100% */
                padding-bottom: 42px;
                @include breakpoint (max-md) {
                    font-size: 50px;
                    padding-bottom: 30px;
                }
                @include breakpoint (max-sm) {
                    font-size: 36px;
                    padding-bottom: 22px;
                }
            }
            .fea-desc {
                max-width: 515px;
                color: #FFF;
                font-family: Outfit;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 23px; /* 127.778% */
                span {
                    color: #1DB469;
                }
            }
            &.pb-80 {
                @include breakpoint (max-md) {
                    padding-bottom: 50px;
                }
            }
        }
        .list-item {
            max-width: 575px;
            display: flex;
            gap: 10px;
            .num {
                width: 50px;
                height: 50px;
                span {
                    background-color: #1DB469;
                    color: #FFF;
                    padding: 0px 17px;
                    border-radius: 50px;
                    font-family: Outfit;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 48px */
                    width: 50px;
                    height: 50px;
                    &.two {
                        padding: 0px 14px;
                    }
                }
            }
            .details {
                color: #FFF;
                font-family: Outfit;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 150% */
                span {
                    color: #1DB469;
                }
            }
        }
    }
    .duration {
        padding-top: 260px;
        padding-left: 100px;
        @include breakpoint (max-xl) {
            padding-top: 0px;
            padding-left: 0px;
        }
        .percentage {
            padding-bottom: 30px;
            span {
                color: #FFF;
                text-align: right;
                font-family: Outfit;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                background-color: #1DB469;
                padding: 8px 20px ;
                border-radius: 50px;

            }
        }
        .minute {
            padding-left: 84px; 
            @include breakpoint (max-xl) {
                padding-left: 0px; 
            }
            span {
                color: #FFF;
                text-align: right;
                font-family: Outfit;
                font-size: 22px;
                padding: 8px 20px ;
                font-style: normal;
                font-weight: 500;
                line-height: 30px; /* 136.364% */
                background-color: #1DB469;
                border-radius: 50px;
            }
        }
    }
}

.slider-section {
    .title-wrap {
        padding-bottom: 40px;
        .title {
            color: #141B4D;
            text-align: center;
            font-family: "Source Serif Pro";
            font-size: 57px;
            font-style: italic;
            font-weight: 600;
            line-height: 122%; /* 69.54px */
            letter-spacing: -2.85px;
            padding-bottom: 28px;
            @include breakpoint (max-md) {
                font-size: 38px;
            }
        }
        .desc {
            color: #3F474B;
            text-align: center;
            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px; /* 131.25% */
            opacity: 0.8;
        }
    }
    .slider-area {
        margin-right: -400px;
        position: relative;
        @include breakpoint(max-lg) {
            margin-right: 0;
        }
        
        .slider-item {
            .slider-thumb {
                position: relative;
                border-radius: 0px 0px 10px 10px;
                img {
                    width: 100%;
                }
                .slider-content {
                    position: absolute;
                    left: 20px;
                    right: 20px;
                    bottom: 160px;
                    .title {
                        color: #FFF;
                        font-family:  $title-font;
                        font-size: 27.354px;
                        font-style: italic;
                        font-weight: 800;
                        line-height: 110%; /* 30.089px */
                        padding-bottom: 24px;
                    }
                    .name {
                        color: #B6C3E7;
                        font-family:  $title-font;
                        font-size: 21.624px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 110%; /* 23.786px */
                    }
                }
                .play-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .mute {
                    position: absolute;
                    right: 16px;
                    bottom: 95px;
                }
            }
            .max-area {
                display: flex;
                align-items: center;
                position: relative;
                padding: 10px 0 30px 0;
                margin-top: -90px;
                border-radius: 0px 0px 10px 10px;
                background: #FFF;
    
                .max-thumb {
                    position: absolute;
                    bottom: 0;
                    left: 4%;
                }
                .max-content {
                    padding-left: 90px;
                    .title {
                        color: #141B4D;
                        font-family: Outfit;
                        font-size: 19.272px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16.189px; /* 84% */
                        padding-bottom: 10px;
                    }
                    .desc {
                        color: #000;
                        font-family: Outfit;
                        font-size: 12.334px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16.189px; /* 131.25% */
                        opacity: 0.6;
                    }
                }
            }
        }
    }

}

.pagination {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.card-section {
    .pricing-card {
        border-radius: 15px;
        background: #FFF;
        .card-header {
            border-radius: 15px 15px 0px 0px;
            background: #DEE7EE;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #000;
            text-align: center;
            font-family: Outfit;
            font-size: 29px;
            font-style: normal;
            font-weight: 700;
            line-height: 29px; /* 100% */
        }
        .card-thumb {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 22px;
        }
        .card-content {
            text-align: center;
            padding: 0 42px;
            .off-price {
                display: inline-block;
                padding: 0 10px;
                margin: 30px 0 0px 0;
                background: #FFEAEB;
                color: #A9090B;
                text-align: center;
                font-family: Outfit;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 29px; /* 145% */
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            .price {
                color: #D1D0E0;
                font-family: Outfit;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px; /* 352.941% */
                text-decoration-line: strikethrough;
                span {
                    color: #141B4D;
                    font-family: Outfit;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 60px; /* 166.667% */
                }
            }
            .price-list {
                text-align: left;
                padding-left: 75px;
                @include breakpoint (max-xxsmall) {
                    padding-left: 35px;
                }

                ul {
                    li {
                        color: #141B4D;
                        font-family: Outfit;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 41px; /* 273.333% */

                        span {
                            margin-right: 7px;
                            img {
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
            .card-btn {
                padding-top: 20px;
                a {
                    width: 100%;
                    text-align: center;
                    padding: 12px 67px;
                    background-color: #1DB469;
                    border-radius: 5px;
                    color: #FFF;
                    text-align: center;
                    font-family: Outfit;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 29px; /* 138.095% */
                    display: block;
                    text-decoration: none;
                    @include breakpoint (max-md) {
                        padding: 8px 12px;
                         font-size: 16px;
                    }
                }
            }
            .curent-text {
                color: #3A3A3A;
                text-align: center;
                font-family: Outfit;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 44px; /* 275% */
                span {
                    color: #3A3A3A;
                    font-family: Outfit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 44px;
                }
            }
        }
        .payment-card {
            border-radius: 0 0 12px 12px;
            background: #DEE7EE;
            padding: 12px 0;
            margin-top: 8px;
            text-align: center;
        }


        &.style1 {
            background: #071C53;
            .card-header {
                border-radius: 15px 15px 0px 0px;
                background: #C90100;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #FFF;

            }
            .delu-text {
                color: #FCFCFC;
                font-family: Outfit;
                font-size: 29px;
                font-style: normal;
                font-weight: 600;
                line-height: 29px;
                text-align: center;
                padding-top: 15px;
            }
            .card-thumb {
                padding-top: 0px;
            }
            .popular-text {
                color: #FFF;
                text-align: center;
                font-family: Outfit;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 29px;
                letter-spacing: 1px;
                text-transform: uppercase;
                background: #EA7E00;
                padding: 9px auto;
            }
            .card-content {
                .price {
                    span {
                        color: #FCCC5D;
                    }
                }
                .middle-content {
                    .desc {
                        color: #FFF;
                        font-family: Outfit;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 41px; /* 205% */
                    }
                    .price {
                        color: #FFF;
                        font-family: Outfit;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 60px; /* 187.5% */
                    }
                    .details {
                        color: #FFF;
                        font-family: Outfit;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 41px; /* 341.667% */
                        span {
                            background-color: #b5f3d4;
                            border-radius: 100px;
                            color: #000;
                            padding: 10px 20px;
                            margin-left: 10px;
                        }
                    }
                    .term {
                        color: #FFF;
                        padding-bottom: 10px;
                        padding-top: 6px;
                    }
                }
                .price-list {
                    ul {
                        li {
                            color: #FFF;
                        }
                    }
                }
                .curent-text {
                    color: #FFF;
                    span {
                        color: #FFF;
                    }
                }
            }
    
        }    
        &.style2 {
            background: #FFF;
            .card-header {
                border-radius: 15px 15px 0px 0px;
                background: #C90100;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #FFF;

            }
            .delu-text {
                color: #000;
                font-family: Outfit;
                font-size: 29px;
                font-style: normal;
                font-weight: 600;
                line-height: 29px;
                text-align: center;
                padding-top: 15px;
            }
            .card-thumb {
                padding-top: 0px;
            }
            .card-content {
                .price {
                    span {
                        color: #CC0201;
                    }
                }
                .middle-content {
                    .desc {
                        color: #000;
                        font-family: Outfit;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 15px; /* 205% */
                    }
                    .price {
                        color: #000;
                        font-family: Outfit;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 60px; /* 187.5% */
                    }
                    .details {
                        color: #000;
                        font-family: Outfit;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 41px; /* 341.667% */
                        span {
                            background-color: #b5f3d4;
                            border-radius: 100px;
                            color: #000;
                            padding: 10px 20px;
                            margin-left: 10px;
                        }
                    }
                    .term {
                        color: #000;
                        padding-bottom: 10px;
                        padding-top: 6px;
                    }
                }
                .price-list {
                    ul {
                        li {
                            color: #000;
                        }
                    }
                }
                .curent-text {
                    color: #FFF;
                    span {
                        color: #000;
                    }
                }
            }
    
        }    
    }
}
