.service1 {
    &-card {
        padding: 30px;
        border-radius: 20px;
        background-color: $gray-color-1;
       @include transition;

        &__icon {
            display: flex;
            width: 70px;
            height: 70px;
            padding: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            background-color: rgba(243, 96, 76, 0.10);
            margin-bottom: 60px;
            @include transition; 
        }

        &__title {
            color: $title-color;
            font-family: $title-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }

        &__desc {
            color: $title-color;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 20px;
        }

        &__link {
            color: $theme-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-transform: uppercase;
            text-decoration: underline;
        }

        &:hover {
            .service1 {
                &-card {
                    &__icon {
                        background-color: $theme-color;

                        svg {
                            path {
                                fill: $white;

                                stroke {
                                    fill: $white;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}