/* 01.Mixins */
/*-- Padding Left And Right --*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.px-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.px-35 {
  padding-right: 35px;
  padding-left: 35px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.px-45 {
  padding-right: 45px;
  padding-left: 45px;
}

.px-50 {
  padding-right: 50px;
  padding-left: 50px;
}

.px-55 {
  padding-right: 55px;
  padding-left: 55px;
}

.px-60 {
  padding-right: 60px;
  padding-left: 60px;
}

.px-65 {
  padding-right: 65px;
  padding-left: 65px;
}

.px-70 {
  padding-right: 70px;
  padding-left: 70px;
}

.px-75 {
  padding-right: 75px;
  padding-left: 75px;
}

.px-80 {
  padding-right: 80px;
  padding-left: 80px;
}

.px-85 {
  padding-right: 85px;
  padding-left: 85px;
}

.px-90 {
  padding-right: 90px;
  padding-left: 90px;
}

.px-95 {
  padding-right: 95px;
  padding-left: 95px;
}

.px-100 {
  padding-right: 100px;
  padding-left: 100px;
}

/*-- Padding Top And Bottom --*/
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-55 {
  padding-top: 55px;
  padding-bottom: 55px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-65 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-85 {
  padding-top: 85px;
  padding-bottom: 85px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.py-95 {
  padding-top: 95px;
  padding-bottom: 95px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*-- Padding Top --*/
.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

/*-- Padding Bottom --*/
.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

/*-- Padding Left --*/
.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

/*-- Padding Right --*/
.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

/* 02.Variables */
/*----------------------------------------------
    # All Variables here
----------------------------------------------*/
:root {
  --body: #fff;
  --black: #000;
  --white: #fff;
  --theme: #F3604C;
  --theme2: #262626;
  --title: #262626;
  --gray1: #F9F9F9;
  --text: #636363;
  --border: #F8F8F8;
  --border-2: #D4DCED;
  --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
  --icon-font: "Font Awesome 6 Pro";
}

/* 03.Typography */
/* --------------------------------------------
    Template Default Fonts & Fonts Styles
 ---------------------------------------------- */
body {
  font-family: "Outfit', sans-serif";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  color: var(--text);
  background-color: var(--white);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

/* 04.Gutter */
/*----------------------------------------------
    # Gutter  style here
----------------------------------------------*/
@media (min-width: 1600px) {
  .gx-40 {
    --bs-gutter-x: 40px;
  }
  .gx-30 {
    --bs-gutter-x: 30px;
  }
  .gx-60 {
    --bs-gutter-x: 60px;
  }
  .gx-64 {
    --bs-gutter-x: 64px;
  }
  .gx-47 {
    --bs-gutter-x: 47px;
  }
  .gx-80 {
    --bs-gutter-x: 80px;
  }
  .gx-120 {
    --bs-gutter-x: 120px;
  }
  .gx-134 {
    --bs-gutter-x: 134px;
  }
  .gx-140 {
    --bs-gutter-x: 140px;
  }
  .gx-165 {
    --bs-gutter-x: 165px;
  }
  .gy-60 {
    --bs-gutter-y: 60px;
  }
}
.gx-0 {
  --bs-gutter-x: 0px;
}

/* 05.Container */
/*----------------------------------------------
    # Container  style here
----------------------------------------------*/
@media (min-width: 1400px) {
  .causes-wrapper.style1 .container {
    max-width: 1352px;
  }
}
@media (min-width: 1600px) {
  .footer-widgets-wrapper.style1 .container {
    max-width: 1338px;
  }
}
/* 06.Helper */
/*----------------------------------------------
    # Helping  style here
----------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--theme);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.fix {
  overflow: hidden;
}

.ralt {
  position: relative;
}

.ripple {
  position: relative;
}
.ripple::before, .ripple::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(56, 75, 255, 0.5);
  -webkit-animation: rippleOne 3s infinite;
  animation: rippleOne 3s infinite;
}
.ripple::before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}
.ripple::after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}

.section-padding {
  padding: 80px 0;
}
@media (min-width: 992px) {
  .section-padding {
    padding: 130px 0;
  }
}

.section-padding-100 {
  padding: 80px 0;
}
@media (min-width: 992px) {
  .section-padding-100 {
    padding: 100px 0;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

.pb-215 {
  padding-bottom: 215px;
}

.bg-theme {
  background-color: var(--theme) !important;
}

.bg-theme2 {
  background-color: var(--theme2) !important;
}

.bg-gray-1 {
  background-color: var(--gray1);
}

.bg-area {
  border-radius: 0px 10px 10px 0px;
  background: radial-gradient(63.34% 56.34% at 49.96% 0%, #FFF 0%, #DEE6F3 100%);
}

.bg-slider {
  background: linear-gradient(0deg, #F8F5EA 0%, #F8F5EA 100%), #FCFAF7;
}

img {
  max-width: 100%;
  height: auto;
}

/* 07.Animation */
/*----------------------------------------------
    # All Animation style here
----------------------------------------------*/
@-webkit-keyframes rippleOne {
  70% {
    -webkit-box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
    box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
    box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
  }
}
@keyframes rippleOne {
  70% {
    -webkit-box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
    box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
    box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
  }
}
.ripple-effect {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #F3E7E0;
  border: 1px solid var(--white);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgb(255, 238, 211);
  box-shadow: 0 0 0 0 rgb(255, 217, 196);
  animation: rippleOne 2s infinite;
}
.ripple-effect .playerImg {
  width: 19px;
  height: 24px;
}

.img-custom-anim-right {
  animation: img-anim-right 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-right {
  0% {
    transform: translateX(5%);
    clip-path: inset(0 0 0 100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-left {
  animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-left {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-top {
  animation: img-anim-top 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}

@keyframes img-anim-top {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes move-directions {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(10px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes loaderspin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes tpswing {
  0% {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes loaderspin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes loaderpulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes rounded {
  50% {
    transform: rotate(20deg);
  }
}
.cir36 {
  animation: cir36 20s linear infinite;
  -webkit-animation: cir36 20s linear infinite;
}

@keyframes cir36 {
  100% {
    transform: rotate(360deg);
  }
}
.float-bob-y {
  -webkit-animation-name: float-bob-y;
  animation-name: float-bob-y;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
.float-bob-x {
  -webkit-animation-name: float-bob-x;
  animation-name: float-bob-x;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes float-bob-x {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(30px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}
@keyframes float-bob-x {
  0% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}
@keyframes bounce-x {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounce-x {
  -webkit-animation: bounce-x 7s infinite linear;
  animation: bounce-x 7s infinite linear;
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes rotated2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress-width);
  }
}
.reveal {
  position: relative;
  display: -ms-inline-flexbox;
  visibility: hidden;
  overflow: hidden;
}

.reveal img {
  height: 100%;
  width: 100%;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
  transform-origin: left;
}

.image-anime {
  position: relative;
  overflow: hidden;
}

.image-anime:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}

.image-anime:hover:after {
  height: 250%;
  transition: all 600ms linear;
  background-color: transparent;
}

/*------------------- 3.10. Animation -------------------*/
.ripple-animation,
.play-btn:after,
.play-btn:before {
  animation-duration: var(--ripple-ani-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: ripple;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes ripple2 {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    transform: scale(2.8);
    opacity: 0;
  }
}
.wave-anim {
  width: 105px;
  height: 69px;
  background-repeat: repeat;
  background-size: auto;
  animation: wave 70s linear infinite;
}

@keyframes wave {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top left -2000px;
  }
}
.fancy-animation {
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.movingX {
  animation: movingX 8s linear infinite;
}

@keyframes movingX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
.movingCar {
  animation: movingCar 25s linear infinite;
}

@keyframes movingCar {
  0% {
    transform: translateX(0) rotateY(0deg);
  }
  50% {
    transform: translateX(calc(-100vw + 108%));
  }
  51% {
    transform: translateX(calc(-100vw + 108%)) rotateY(180deg);
  }
  100% {
    transform: translateX(0) rotateY(180deg);
  }
}
.moving {
  animation: moving 8s linear infinite;
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
.moving2 {
  animation: moving2 8s linear infinite;
}

@keyframes moving2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.moving3 {
  animation: moving3 8s linear infinite;
}

@keyframes moving3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.jump {
  animation: jumpAni 7s linear infinite;
}

@keyframes jumpAni {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
.jump-reverse {
  animation: jumpReverseAni 7s linear infinite;
}

@keyframes jumpReverseAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
.spin {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bg-color-ani,
.color-animate {
  animation: bgColor 6s linear infinite;
}

@keyframes bgColor {
  0% {
    background-color: #F2BA4C;
  }
  25% {
    background-color: #81F24C;
  }
  50% {
    background-color: #41F27D;
  }
  75% {
    background-color: #0500FF;
  }
  100% {
    background-color: #F2BA4C;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}
.fadein,
.scalein,
.slidetopleft,
.slidebottomright,
.slideinleft,
.slideinright,
.slideindown,
.slideinup,
.rollinleft,
.rollinright {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 1.3s;
  animation-delay: 0.3s;
  animation-name: var(--animation-name);
}

.swiper-slide-active .fadein {
  --animation-name: fadein;
}

.swiper-slide-active .scalein {
  --animation-name: scalein;
}

.swiper-slide-active .slidetopleft {
  --animation-name: slidetopleft;
}

.swiper-slide-active .slidebottomright {
  --animation-name: slidebottomright;
}

.swiper-slide-active .slideinleft {
  --animation-name: slideinleft;
}

.swiper-slide-active .slideinright {
  --animation-name: slideinright;
}

.swiper-slide-active .slideinup {
  --animation-name: slideinup;
}

.swiper-slide-active .slideindown {
  --animation-name: slideindown;
}

.swiper-slide-active .rollinleft {
  --animation-name: rollinleft;
}

.swiper-slide-active .rollinright {
  --animation-name: rollinright;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scalein {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes slideinup {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideinright {
  0% {
    opacity: 0;
    transform: translateX(180px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideindown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slidebottomright {
  0% {
    opacity: 0;
    transform: translateX(120px) translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
@keyframes slidetopleft {
  0% {
    opacity: 0;
    transform: translateX(-100px) translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
.spin2 {
  animation: spin2 10s linear infinite;
}

@keyframes spin2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*animation bubble****************/
.animation-bubble {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.animation-bubble div[class^=bubble-] {
  height: 1px;
  width: 1px;
  position: absolute;
  background: url(../img/shape/star.html) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

@media (max-width: 1024px) {
  .animation-bubble > :nth-child(even) {
    display: none;
  }
}
.bubble-1 {
  bottom: -5px;
  left: 68%;
  animation: bubble-animation 4.5s infinite ease-in -6.57s;
}

.bubble-2 {
  bottom: -71px;
  left: 97%;
  animation: bubble-animation 4.5s infinite ease-in -5.07s;
}

.bubble-3 {
  bottom: -71px;
  left: 43%;
  animation: bubble-animation 4.5s infinite ease-in -6.73s;
}

.bubble-4 {
  bottom: -3.8px;
  left: 82%;
  animation: bubble-animation 4.5s infinite ease-in -4.04s;
}

.bubble-5 {
  bottom: -73.4px;
  left: 29%;
  animation: bubble-animation 4.5s infinite ease-in -3.11s;
}

.bubble-6 {
  bottom: -71px;
  left: 41%;
  animation: bubble-animation 4.5s infinite ease-in -5.95s;
}

.bubble-7 {
  bottom: -79.4px;
  left: 14%;
  animation: bubble-animation 4.5s infinite ease-in -3.68s;
}

.bubble-8 {
  bottom: -115.4px;
  left: 90%;
  animation: bubble-animation 4.5s infinite ease-in -3.89s;
}

.bubble-9 {
  bottom: -44.6px;
  left: 33%;
  animation: bubble-animation 4.5s infinite ease-in -1.09s;
}

.bubble-10 {
  bottom: -6.2px;
  left: 59%;
  animation: bubble-animation 4.5s infinite ease-in -0.96s;
}

@keyframes bubble-animation {
  0% {
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    transform: translate3d(-50%, -280px, 0);
    height: 30px;
    width: 30px;
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes icon-anim {
  0% {
    top: 26px;
    right: 90px;
  }
  25% {
    top: 86px;
    right: 110px;
  }
  100% {
    top: 26px;
    right: 90px;
  }
}
.img-shine {
  position: relative;
}
.img-shine::before {
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 51%;
  top: 0;
  opacity: 1;
  pointer-events: none;
  transition: all 500ms linear;
  z-index: 22;
}
.img-shine:hover::before {
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 500ms linear;
}

.reveal {
  position: relative;
  display: -ms-inline-flexbox;
  visibility: hidden;
  overflow: hidden;
}

.reveal img {
  height: 100%;
  width: 100%;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
  transform-origin: left;
}

.image-anime {
  position: relative;
  overflow: hidden;
}

.image-anime:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}

.image-anime:hover:after {
  height: 250%;
  transition: all 600ms linear;
  background-color: transparent;
}

.splt-txt .whitespace {
  width: 8px;
}
.splt-txt.animated .char {
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation: fadeInRight 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  -webkit-animation-delay: calc(30ms * var(--char-index));
  animation-delay: calc(30ms * var(--char-index));
}

@keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes jump2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* 08.Buttons */
/*----------------------------------------------
    # Buttons style here
----------------------------------------------*/
.theme-btn.style1 {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  border-radius: 6px;
  background: var(--theme);
  padding: 22px 28px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.theme-btn.style1 a {
  color: var(--white) !important;
  display: inline-block;
}
.theme-btn.style1 i {
  margin-left: 6px;
}
.theme-btn.style1:before {
  transition-duration: 800ms;
  position: absolute;
  width: 210%;
  height: 290%;
  content: "";
  top: 162%;
  left: 50%;
  background: var(--theme2);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%) rotate(-8deg);
  border-radius: 80%;
  z-index: -1;
}
.theme-btn.style1:hover {
  color: var(--theme) !important;
  border: 1px solid var(--text);
}
.theme-btn.style1:hover.gt-btn-icon-1::after {
  color: var(--theme);
}
.theme-btn.style1:hover:before {
  top: -96%;
}

/* 09.Preloader */
/* 10.Back To Top */
.back-to-top {
  border-radius: 50%;
  background-color: var(--theme);
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: var(--white);
  font-size: 18px;
  position: fixed;
  display: inline-block;
  z-index: 99;
  right: 30px;
  bottom: 30px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
}
.back-to-top:hover {
  background-color: var(--title);
}
.back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

/* 14.seller */
.seller-section .seller-thumb-one {
  padding-bottom: 16px;
}
.seller-section .seller-thumb-gallery {
  display: flex;
  gap: 16px;
}
.seller-section .seller-content .best-seller {
  border-radius: 5px;
  background: #ED4444;
  display: inline-block;
  padding: 5px 12px;
}
.seller-section .seller-content .best-seller h6 {
  color: #FFF;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  margin-bottom: 0;
}
.seller-section .seller-content .ratting {
  display: flex;
  align-items: center;
  gap: 10px;
}
.seller-section .seller-content .seller-title {
  padding-top: 10px;
  padding-bottom: 15px;
}
.seller-section .seller-content .seller-title h2 {
  color: #141B4D;
  font-family: Outfit;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.176%; /* 63.706px */
  letter-spacing: -3px;
}
.seller-section .seller-content .seller-profile-box {
  padding: 16px 23px;
  border-radius: 5px;
  background: rgba(242, 242, 246, 0.66);
}
.seller-section .seller-content .seller-profile-box .profile {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.seller-section .seller-content .seller-profile-box .profile .profile-content .title {
  color: #141B4D;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}
.seller-section .seller-content .seller-profile-box .profile .profile-content .desc {
  color: #141B4D;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  opacity: 0.6;
}
.seller-section .seller-content .seller-profile-box .seller-profile-content h5 {
  color: #3F446C;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.seller-section .seller-content .seller-info-list {
  padding-bottom: 50px;
}
.seller-section .seller-content .seller-info-list ul li {
  color: #141B4D;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 237.5% */
}
.seller-section .seller-content .seller-info-list ul li:not(:last-child) {
  border-bottom: 1px solid rgb(219, 219, 219);
}
.seller-section .seller-content .seller-info-list ul li span {
  padding-right: 5px;
}
.seller-section .seller-content .seller-price-info {
  padding-bottom: 20px;
}
.seller-section .seller-content .seller-price-info .price {
  padding-bottom: 25px;
  color: #000;
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.176%; /* 29.729px */
  letter-spacing: -1.4px;
  text-decoration-line: strikethrough;
}
.seller-section .seller-content .seller-price-info .price .highLight {
  padding-left: 10px;
  color: #CF1010;
  font-family: Outfit;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.176%; /* 40.347px */
  letter-spacing: -1.9px;
}
.seller-section .seller-content .seller-price-info .card-info {
  display: flex;
  gap: 26px;
  align-items: center;
}
.seller-section .seller-content .seller-price-info .card-info .card-btn {
  border-radius: 5px;
  background: #1DB469;
  padding: 16px 82px;
  color: #FFF;
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 131.818% */
}
.seller-section .seller-content .seller-price-info .card-info .plus-minus-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.seller-section .seller-content .seller-price-info .card-info .plus-minus-btn i {
  font-size: 14px;
  padding: 7px 9px;
  background-color: #e2e3e5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.seller-section .seller-content .payment-card {
  padding-bottom: 20px;
}
.seller-section .seller-content .time-duration ul li {
  padding-bottom: 5px;
  color: #7D7D7D;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}
.seller-section .seller-content .time-duration ul li span {
  color: #3385FF;
}
.seller-section .seller-content .time-duration ul li img {
  padding-right: 10px;
}

.area-section .title-wrap .title {
  color: #141B4D;
  text-align: center;
  font-family: Outfit;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.176%; /* 63.706px */
  letter-spacing: -3px;
}
.area-section .title-wrap .desc {
  color: #141B4D;
  text-align: center;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 120.833% */
  letter-spacing: 0.24px;
}
.area-section .area-box {
  position: relative;
}
.area-section .area-box .title {
  color: #141B4D;
  font-family: Outfit;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 100% */
}
.area-section .area-box .desc {
  color: #000;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  opacity: 0.8;
}
.area-section .area-box .area-wrapper {
  position: relative;
}
.area-section .area-box .area-wrapper.style1 {
  display: flex;
  justify-content: center;
  gap: 330px;
}
.area-section .area-box .area-wrapper.style2 {
  display: flex;
  justify-content: center;
  gap: 400px;
}
.area-section .area-box .area-thumb {
  position: absolute;
  bottom: -10%;
  left: 35%;
}

.feature-section {
  background-image: url("../images/feature/feature-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.feature-section .feature-content .fea-title {
  color: #FFF;
  font-family: Outfit;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
  padding-bottom: 42px;
}
.feature-section .feature-content .fea-desc {
  max-width: 515px;
  color: #FFF;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 127.778% */
}
.feature-section .feature-content .fea-desc span {
  color: #1DB469;
}
.feature-section .feature-content .list-item {
  max-width: 575px;
  display: flex;
  gap: 10px;
}
.feature-section .feature-content .list-item .num {
  width: 50px;
  height: 50px;
}
.feature-section .feature-content .list-item .num span {
  background-color: #1DB469;
  color: #FFF;
  padding: 0px 17px;
  border-radius: 50px;
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  width: 50px;
  height: 50px;
}
.feature-section .feature-content .list-item .num span.two {
  padding: 0px 14px;
}
.feature-section .feature-content .list-item .details {
  color: #FFF;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.feature-section .feature-content .list-item .details span {
  color: #1DB469;
}
.feature-section .duration {
  padding-top: 260px;
  padding-left: 100px;
}
.feature-section .duration .percentage {
  padding-bottom: 30px;
}
.feature-section .duration .percentage span {
  color: #FFF;
  text-align: right;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  background-color: #1DB469;
  padding: 8px 20px;
  border-radius: 50px;
}
.feature-section .duration .minute {
  padding-left: 84px;
}
.feature-section .duration .minute span {
  color: #FFF;
  text-align: right;
  font-family: Outfit;
  font-size: 22px;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 136.364% */
  background-color: #1DB469;
  border-radius: 50px;
}

.slider-section .title-wrap {
  padding-bottom: 40px;
}
.slider-section .title-wrap .title {
  color: #141B4D;
  text-align: center;
  font-family: "Source Serif Pro";
  font-size: 57px;
  font-style: italic;
  font-weight: 600;
  line-height: 122%; /* 69.54px */
  letter-spacing: -2.85px;
  padding-bottom: 28px;
}
.slider-section .title-wrap .desc {
  color: #3F474B;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
  opacity: 0.8;
}
.slider-section .slider-area {
  margin-right: -400px;
  position: relative;
}
.slider-section .slider-area .slider-item .slider-thumb {
  position: relative;
  border-radius: 0px 0px 10px 10px;
}
.slider-section .slider-area .slider-item .slider-thumb img {
  width: 100%;
}
.slider-section .slider-area .slider-item .slider-thumb .slider-content {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 160px;
}
.slider-section .slider-area .slider-item .slider-thumb .slider-content .title {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 27.354px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%; /* 30.089px */
  padding-bottom: 24px;
}
.slider-section .slider-area .slider-item .slider-thumb .slider-content .name {
  color: #B6C3E7;
  font-family: "Poppins", sans-serif;
  font-size: 21.624px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 23.786px */
}
.slider-section .slider-area .slider-item .slider-thumb .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-section .slider-area .slider-item .slider-thumb .mute {
  position: absolute;
  right: 16px;
  bottom: 95px;
}
.slider-section .slider-area .slider-item .max-area {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0 30px 0;
  margin-top: -90px;
  border-radius: 0px 0px 10px 10px;
  background: #FFF;
}
.slider-section .slider-area .slider-item .max-area .max-thumb {
  position: absolute;
  bottom: 0;
  left: 4%;
}
.slider-section .slider-area .slider-item .max-area .max-content {
  padding-left: 90px;
}
.slider-section .slider-area .slider-item .max-area .max-content .title {
  color: #141B4D;
  font-family: Outfit;
  font-size: 19.272px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.189px; /* 84% */
  padding-bottom: 10px;
}
.slider-section .slider-area .slider-item .max-area .max-content .desc {
  color: #000;
  font-family: Outfit;
  font-size: 12.334px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.189px; /* 131.25% */
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */