/*----------------------------------------------
    # Helping  style here
----------------------------------------------*/
//page scroll bar add
::-webkit-scrollbar {
	width: 10px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-color;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px;
      height: 60px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(56, 75, 255, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End

// Padding
.section-padding {
  padding: 80px 0;
  @include breakpoint(lg) {
    padding: 130px 0;
  }
}

.section-padding-100 {
  padding: 80px 0;
  @include breakpoint(lg) {
    padding: 100px 0;
  }
}


// Spacing
.mb-60 {
  margin-bottom: 60px;
}

.pb-215 {
  padding-bottom: 215px;
}


// Colors
.bg-theme {
  background-color: $theme-color!important;
}

.bg-theme2 {
  background-color: $theme-color-2!important;
}

.bg-gray-1 {
  background-color: $gray-color-1;
}
.bg-area {
  border-radius: 0px 10px 10px 0px;
background: radial-gradient(63.34% 56.34% at 49.96% 0%, #FFF 0%, #DEE6F3 100%);
}
.bg-slider {
  background: linear-gradient(0deg, #F8F5EA 0%, #F8F5EA 100%), #FCFAF7;
}
  
// Image 
img {
  max-width: 100%;
  height: auto;
}
